<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="be.zen.llnmaps" version="0.1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>LLN Maps</name>
  <description>
        Maps for Louvain-la-Neuve
    </description>
  <author email="mathieu.zen@uclouvain.be" href="http://llnmaps.info/">
      Mathieu Zen
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="AutoHideSplashScreen" value="false"/>
  <preference name="SplashScreenDelay" value="10000"/>
  <preference name="ShowSplashScreenSpinner" value="true"/>
  <preference name="FadeSplashScreen" value="true"/>
  <preference name="FadeSplashScreenDuration" value="1.0"/>
  <preference name="orientation" value="default"/>
  <preference name="xwalkVersion" value="14+"/>
  <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect"/>
  <preference name="xwalkMode" value="embedded"/>
  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar"/>
  </feature>
  <feature name="Compass">
    <param name="android-package" value="org.apache.cordova.deviceorientation.CompassListener"/>
  </feature>
  <feature name="Insomnia">
    <param name="ios-package" value="Insomnia"/>
  </feature>
  <feature name="Insomnia">
    <param name="android-package" value="nl.xservices.plugins.Insomnia"/>
  </feature>
  <feature name="Insomnia">
    <param name="wp-package" value="Insomnia"/>
  </feature>
  <platform name="android">
    <icon src="resources/android/icon/drawable-ldpi-icon.png" density="ldpi"/>
    <icon src="resources/android/icon/drawable-mdpi-icon.png" density="mdpi"/>
    <icon src="resources/android/icon/drawable-hdpi-icon.png" density="hdpi"/>
    <icon src="resources/android/icon/drawable-xhdpi-icon.png" density="xhdpi"/>
    <splash src="resources/android/splash/drawable-land-ldpi-screen.png" density="land-ldpi"/>
    <splash src="resources/android/splash/drawable-land-mdpi-screen.png" density="land-mdpi"/>
    <splash src="resources/android/splash/drawable-port-ldpi-screen.png" density="port-ldpi"/>
    <splash src="resources/android/splash/drawable-port-mdpi-screen.png" density="port-mdpi"/>
    <splash src="resources/android/splash/drawable-port-hdpi-screen.png" density="port-hdpi"/>
    <splash src="resources/android/splash/drawable-port-xhdpi-screen.png" density="port-xhdpi"/>
  </platform>
  <platform name="ios">
    <icon height="57" src="resources/ios/icon/icon.png" width="57"/>
    <icon height="40" src="resources/ios/icon/icon-40.png" width="40"/>
    <icon height="80" src="resources/ios/icon/icon-40@2x.png" width="80"/>
    <icon height="50" src="resources/ios/icon/icon-50.png" width="50"/>
    <icon height="60" src="resources/ios/icon/icon-60.png" width="60"/>
    <icon height="72" src="resources/ios/icon/icon-72.png" width="72"/>
    <icon height="76" src="resources/ios/icon/icon-76.png" width="76"/>
    <icon height="29" src="resources/ios/icon/icon-small.png" width="29"/>
    <icon height="58" src="resources/ios/icon/icon-small@2x.png" width="58"/>
    <icon height="87" src="resources/ios/icon/icon-small@3x.png" width="87"/>
    <splash height="1136" src="resources/ios/splash/Default-568h@2x~iphone.png" width="640"/>
    <splash height="960" src="resources/ios/splash/Default@2x~iphone.png" width="640"/>
    <splash height="480" src="resources/ios/splash/Default~iphone.png" width="320"/>
  </platform>
  <icon src="resources/android/icon/drawable-xhdpi-icon.png"/>
</widget>
